<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet" href="css/base.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<title>HTML5</title>
</head>
<body>
<div id="contents">
  <div id="header">HTML5 TEST</div>
  <div id="left-menu">
    <h2>MENU</h2>
    <ul>
      <li><a href="/html5/"><span>File Upload</span></a></li>
      <li><a href="/html5/data/"><span>File List</span></a></li>
    </ul>
  </div>
  <div id="main">

    <h2>File Upload</h2>
    <div>
      <form method="post" action="/html5/upload.html?a=Upload&p=upload" enctype="multipart/form-data">
        <input id="file_select" type="file" multiple="multiple" name="file" size="20" />
        <input type="submit" value="OK" />
      </form>
      <div style="border:0px solid #999;">
        <div id="result_container"></div>
      </div>
    </div>
  </div>
  <div id="footer">Copyright&copy; 2010, TamaCat.org</div>
</div>

<script>
//var ws = new WebSocket("ws://localhost/api/test.html");
//ws.onopen = function() {
//    ws.send("This is a message from the browser to the server");
//};
//ws.onmessage = function(event) {
//    alert("The server sent a message: " + event.data);
//};

var file_select = document.getElementById('file_select');
file_select.addEventListener('change', function() {
  printFilesList(file_select.files);
}, false);

var printFilesList = function(files) {
    var buffer = "";
        buffer += "<table border=\"1\"><tr>";
        buffer += "<th>Name</th><th>Type</th>"; //<th>URN</th></tr>";
    for (var i = 0; i < files.length; i++) {
        var file = files[i];
        buffer += "<tr>";
        buffer += "<td>" + file.name + "</td>";
        buffer += "<td>" + file.type + "</td>";
        //buffer += "<td>" + file.urn + "</td>";
        buffer += "</tr>";
    }
    buffer += "</table>";
    var result_container = document.getElementById('result_container');
    result_container.innerHTML = buffer;
};

document.documentElement.addEventListener('dragover', function(event) {
  event.preventDefault();
}, false);
document.documentElement.addEventListener('drop', function(event) {
  event.preventDefault();
  printFilesList(event.dataTransfer.files);
}, false);

</script>
</body>
</html>
