#parse("htdocs/common/html-start.vm")
<body>
  <div id="contents">
    <div id="header">DOWNLOAD</div>
    #parse("htdocs/common/left-menu.vm")
    <div id="main">
      <h1>Download page.</h1>
      <ul>
        <li>Download this software.<br />
        <a href="http://code.google.com/p/tamacat/downloads/list" target="_blank">
          <span>http://code.google.com/p/tamacat/downloads/list</span></a>
        </li>
      </ul>
      <br />
      <ul>
        <li>SVN Repository. (read-only)<br />
          <a href="http://tamacat.googlecode.com/svn/trunk/" target="_blank">
           <span>http://tamacat.googlecode.com/svn/trunk/</span></a>
        </li>
      </ul>
    </div>
    #parse("htdocs/common/footer.vm")
  </div>
</body>
#parse("htdocs/common/html-end.vm")
