#parse("htdocs/common/html-start.vm")
<body>
  <div id="contents">
    <div id="header"><h1>LOGIN</h1></div>
    <div id="login-main">
      
      <form action="${contextRoot}/check.html" method="post" onclick="saveUsername();">

       <h1>LOGIN</h1>
         <div id="login-form">
           <div class="head">UserName</div>
           <div><input type="text" id="username" name="username" size="40" /></div>
         
           <div class="head">Password</div>
           <div><input type="password" name="password" size="40" /></div>

           <div>
             <input type="checkbox" id="remember_me" name="remember_me" value="true" />
             <label for="remember_me">Remember me on this computer</label>
           </div>
           <div><input type="submit" id="login" value="Login" /></div>
         </div>
       
      </form>
   </div>
    #parse("htdocs/common/footer.vm")
  </div>
</body>
<script type="text/javascript">
<!--
jQuery(document).ready(function() {
  jQuery("#username").focus();
  var username = jQuery.cookie("username");
  if (username != null) {
    jQuery("#username").val(jQuery.cookie("username"));
    jQuery("#password").focus();
  }
});
function saveUsername() {
  if (jQuery("#remember_me").is(":checked")) {
    var date = new Date();
    date.setTime(date.getTime() + 24 * 30 * 60 * 60 * 1000); // sets it for approx 30 days.
    jQuery.cookie("username", jQuery("#username").val(), { path: '/', expires: date });
  }
}
//-->
</script>
#parse("htdocs/common/html-end.vm")
