#parse("htdocs/common/html-start.vm")
<body>
  <div id="contents">
    <div id="header"><h1>LOGOUT</h1></div>
    <div id="main" style="border:0px">
      <h1>LOGOUT</h1>
      <p>
        <a href="${contextRoot}/login.html">Login</a>
      </p>
    </div>
    <div id="menu"></div>
    #parse("htdocs/common/footer.vm")
  </div>
</body>
#parse("htdocs/common/html-end.vm")
