<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="/html5/js/jquery.js" type="text/javascript"></script>
    <script src="/html5/js/jquery-ui.js" type="text/javascript"></script>
    <title>Index of ${url}</title>
      <style type="text/css">
        html {font-size: 100%;}
        body {font-size: 78%;
              font-family: Verdana, Arial, Sans-Serif;
              background: #fff; color: #333; 
              margin: 0; padding: 0;}
        h1{font-size: 110%; color:white; background-color:#444;padding: 2px;}
        h3{font-size: 100%; color:white; background-color:#444;padding: 2px;}
        a{color:#000066;} hr{color : #666;}
        table{margin: 10px; padding: 2px;}
        th{text-align:left; border-bottom:1px solid #666;}

	td.fileName .ui-selecting {background: #FECA40; width:60%;}
	td.fileName .ui-selected {background: #F39814; width:60%}

      </style>
  </head>
  <body>
    <h1>Index of ${url}</h1>
    <table style="width: 80%;" id="listFiles">
      <tr>
        <th style="width:60%;">Name</th>
        <th style="width:10%;" nowrap="nowrap">Last modified</th>
        <th style="witdh:5%;text-align:right;">Size</th>
      </tr>
#if($parent)
      <tr>
        <td colspan="3"><a href="../"><span>../</span></a></td>
      </tr>
#end
#foreach($file in $list)
      <tr class="file" id="file_$velocityCount">
        <td class="fileName"><a href="$url$file.getName" id="$file.getName"><span>$file.getName</span></a></td>
        <td nowrap="nowrap">$file.lastModified</td>
        <td style="text-align:right;" nowrap="nowrap">$file.length</td>
      </tr>
#end
    </table>
<a href="javascript:void(0)" onclick="deleteFiles()">Delete</a>
<script type="text/javascript">
$(document).ready(function() {
  $("#listFiles .file").selectable({
    selected: onSelected,
    unselected: onUnselected
  });
});
var files = {};
var onSelected = function(e, ui) {
    var f = $(ui.selected);
    if (f && f.children) {
      files[f.children().get(0).id] = f;
      //console.log(f.children().get(0).id);
    }

};
var onUnselected = function(e, ui) {
    var f = $(ui.unselected);
    if (f && f.children) {
      delete files[f.children().get(0).id];
      //console.log(files.length);
    }
};


var deleteFiles = function() {
  for (var i in files) {
    alert("file "+i);
  }
};
</script>
  </body>
</html>
